@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family : "Montserrat", sans-serif;
  color: var(--text-black);
}

h1,
section,
p,
span,
svg{
  transition: background-color 0.5s , color 0.5s;
}

:root{
 /*Light theme variables*/
  --color-text-light: rgb(17, 17, 17);
  --color-background-light: #FAF4E5;
  --color-pink-light : #79d4e0;
  --color-green-light : #7AD0AC;
  --color-blue-light: #8395CD;

   /*Dark theme variables*/

   --color-text-dark: #FAF4E5;
  --color-background-dark:  #8395CD;
}

.light-theme{
  --color-text: var(--color-text-light);
  --color-background:var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
}

.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background :var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);

}

/*Experience --------------------------------------------- */
.Experience{
  position: fixed;
  width: 100vw;
  height: 100vh;

}

.experience-canvas{
  width: 100%;
  height: 100%;
}

/*ICONS --------------------------------------------- */


.icon-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.icon-link {
  color: #ADD8E6; /* Icon color */
  font-size: 24px; /* Icon size */
  margin: 10px; /* Spacing between icons */
  text-decoration: none; /* Removes underline from icons */
  transition: color 0.3s; /* Smooth color transition */
}

.icon-link:hover {
  color: #085873; /* Change color on hover */
}



/*Page --------------------------------------------- */



.page{
  z-index:99999;
  width : 100%;
  height : 100%;
  overflow: hidden;

}

.page-wrapper{
  position : relative;
}


.my-custom-image {
  width: 100%; /* Make the image responsive by setting its width to 100% of the container */
  height: auto; /* Keep the image's aspect ratio */
  border-radius: 8px; /* Optionally, give the image rounded corners */
  /* Add more styles as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease-in-out;
  margin-top: 18px;

  filter: grayscale(50%); /* Partially convert to grayscale */
  filter: blur(1px); /* Blur the image */
  opacity: 0.9; 
}

.my-custom-image:hover {
  transform: scale(1.3); /* Scale up by 10% when hovered */
  cursor: pointer;
  filter: grayscale(100%); /* Partially convert to grayscale */
  filter: blur(0px); /* Blur the image */
  opacity: 1; 
}

.my-custom-image1 {
  width: 100%; /* Make the image responsive by setting its width to 100% of the container */
  height: auto; /* Keep the image's aspect ratio */
  border-radius: 8px; /* Optionally, give the image rounded corners */
  /* Add more styles as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease-in-out , z-index 0s;
  margin-top: 18px;

  filter: grayscale(50%); /* Partially convert to grayscale */
  filter: blur(1px); /* Blur the image */
  opacity: 0.9; 
  position: relative;
}

.my-custom-image1:hover {
  transform: translate(55%, 65%) scale(2.7); /* Scale up by 10% when hovered */
  cursor: pointer;
  filter: grayscale(100%); /* Partially convert to grayscale */
  filter: blur(0px); /* Blur the image */
  opacity: 1; 
  z-index: 10;
}


.my-custom-image2 {
  width: 100%; /* Make the image responsive by setting its width to 100% of the container */
  height: auto; /* Keep the image's aspect ratio */
  border-radius: 8px; /* Optionally, give the image rounded corners */
  /* Add more styles as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease-in-out , z-index 0s;
  margin-top: 18px;

  filter: grayscale(50%); /* Partially convert to grayscale */
  filter: blur(1px); /* Blur the image */
  opacity: 0.9; 
  position: relative;
}

.my-custom-image2:hover {
  transform: translate(-55%, 65%) scale(2.7); /* Scale up by 10% when hovered */
  cursor: pointer;
  filter: grayscale(100%); /* Partially convert to grayscale */
  filter: blur(0px); /* Blur the image */
  opacity: 1; 
  z-index: 10;
}

.my-custom-image3 {
  width: 100%; /* Make the image responsive by setting its width to 100% of the container */
  height: auto; /* Keep the image's aspect ratio */
  border-radius: 8px; /* Optionally, give the image rounded corners */
  /* Add more styles as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease-in-out , z-index 0s;
  margin-top: 18px;

  filter: grayscale(50%); /* Partially convert to grayscale */
  filter: blur(1px); /* Blur the image */
  opacity: 0.9; 
  position: relative;
}

.my-custom-image3:hover {
  transform: translate(55%, -65%) scale(2.7); /* Scale up by 10% when hovered */
  cursor: pointer;
  filter: grayscale(100%); /* Partially convert to grayscale */
  filter: blur(0px); /* Blur the image */
  opacity: 1; 
  z-index: 10;
}


.my-custom-image4 {
  width: 100%; /* Make the image responsive by setting its width to 100% of the container */
  height: auto; /* Keep the image's aspect ratio */
  border-radius: 8px; /* Optionally, give the image rounded corners */
  /* Add more styles as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease-in-out , z-index 0s;
  margin-top: 18px;

  filter: grayscale(50%); /* Partially convert to grayscale */
  filter: blur(1px); /* Blur the image */
  opacity: 0.9; 
  position: relative;
}

.my-custom-image4:hover {
  transform: translate(-55%, -65%) scale(2.7); /* Scale up by 10% when hovered */
  cursor: pointer;
  filter: grayscale(100%); /* Partially convert to grayscale */
  filter: blur(0px); /* Blur the image */
  opacity: 1; 
  z-index: 10;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* creates 2 columns */
  grid-gap: 20px; /* space between images */
  margin-top: 18px;
  position: relative;

}


/*Toggle Bar --------------------------------------------- */

.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 48px;
  right: 48px;
  z-index: 99999999999999;

}

.sun-wrapper ,.moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color :var(--color-text);
}

.toggle-button{
  cursor:pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.toggle-circle{
  position:absolute;
  left:6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-background);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle {
 transform: scale(0.9);
}

.slide{
  left: 28px;
}

/*Section Formating --------------------------------------------- */
.section-margin{
  height: 3000px;
  width: 100%;
}

.section{
  position:relative;
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left{
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 700px 700px;
}
.right{
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}


.progress-wrapper{
  height: 0;
  width: 12px;
  z-index:  9999;
}

.progress-bar-wrapper-left{
  position: relative;
  top: 0;
  left: 0;
}
.progress-bar-wrapper-right{
  position: relative;
  top: 0;
  right: 0;
}

.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--color-pink);
  transform-origin: top center;
  transform: scaleY(1);
}

.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-pink);
  padding-bottom: 400px;
}

.section-detail-wrapper{
  position: relative;
  padding: 20% 5%;
}

.section-heading{
  font-size:18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top:64px;
  color :var(--color-text);
  text-align: center;
}

.section-text{
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color :var(--color-text);
}


/*Fancy Decoration Part --------------------------------------------- */
.section-title{
  position: relative;
  color:var(--color-pink);

}

.section-title-text{
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin:left ;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
  color :var(--color-pink);
}

.styleOne,
.styleTwo,
.styleThree{

  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-pink);
  transform-origin:left ;
  transform: skewY(-25deg);


}

.styleOne{
  top: 0px;
}
.styleTwo{
  top:80px;
}

.styleThree{
  top:80px;
  transform: skewY(25deg);
  background-color: var(--color-pink);
}

.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-pink);
  font-size: 25px;
}



/*Hero's --------------------------------------------- */

.hero{
  width: 100vw;
  height: 100vh;
  color : #a3cada;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  top : 100px;
  margin : 0 auto;
  max-width: 1700px;
}


.hero-main{
  position: absolute;
  /*left: 400px;*/
  bottom : 368px;
  color :var(--color-text);
}

.hero-second{
  position: relative;
  color :var(--color-pink);
}

.hero-main-title{
  font-size : 16px;
  color :var(--color-pink);
}

.hero-main-description{
  font-size : 12px;
  color :var(--color-pink);
}

.hero-second-subheading{
  font-size : 30px;
  text-transform: uppercase;
  color :var(--color-pink);
}

.center-container-botton {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 20px;
}

.download-cert-btn {
  padding: 10px 20px;
  background-color: #79d4e0;
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.download-cert-btn:hover{
  cursor: pointer;
  background-color: #7AD0AC;
}


@media (max-width: 968px){
  .section{
    width: 100%;
  }
}